@import "../../../core.scss";
.menu{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
}
.menu_pc{
    @include max(767){
        display: none;
    }
}
.menu_mobile{
    position: fixed;
    background-color: rgb(252, 211, 77);
    z-index: 10;
    top: 3.5rem;
    left: -50%;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    padding-left: 20px;
    .item{
        width: 100%;
        height: 40px;
    }
}
.top {
  top: 0px;
}

.down {
  top: 0px;
}

.up {
  top: 0px;
}

.icon_menu_mb{
    display: none;
    @include max(767){
        display: block;
    }
}
#menu_child{
    display: none;
}
.show{
    left: 0;
}
.menu > li{
   display: flex;
   align-items: center;
   cursor: pointer;
   height: 50px;
   color: white;
   margin-right: 20px;
}
.logo_company{
    width: 100px;
    height: 100px;
}
