@import "./core.scss";

.main-layout {
    width: 80%;
    margin: 0 auto;

    @include max(767) {
        width: 95%;
        .main_content {
            flex-direction: column;
        }
    }

    .list {
        .list-header {
            width: 100%;
            height: 50px;
            text-align: left;
        }

        .item {
            width: 100%;
            border-bottom: 1px solid #ccc;
            .item-image{
                width: 100px;
                height: 130px;
                @include max(767) {
                   height: 130px;
                }
            }
        }
    }
}
