@mixin max($width) {
    @media only screen and (max-width: $width + px) {
        @content;
    }
}

@mixin min($width) {
    @media only screen and (min-width: $width + px) {
        @content;
    }
}

@mixin maxandmin($width-max, $width-min) {
    @media only screen and (min-width: $width-min + px) and (max-width: #{$width-max} + px) {
        @content;
    }
}
